.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
}

.form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #c77100a4;
    border: 2px solid #613700a4;
    padding-left: 10px;
    padding-right: 10px;
}

.dugme {
    cursor: pointer;
    max-width: fit-content;
    align-self: center;
    margin-bottom: 10px;
}

.dugme:disabled {
    cursor: default;
}

.log-reg-switch-button {
    cursor: pointer;
}

.log-reg-switch-button:hover {
    color: rgb(53, 120, 175);
}

.form-row {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.input {
    margin-left: 10px;
}

.input-error {
    margin-left: 10px;
    color: rgb(158, 0, 0);
}