<div class="profile-page">
    <div class="menu">
        <h2 class="title">Profil</h2>
        <div class="menuBtns">
            <button [routerLink]="['', { outlets: { home: ['directory'] } }]" class="backBtn">Nazad</button>
            <button (click)="onSignOut()" class="signOutBtn">Odjavi se</button>
        </div>
    </div>

    <div class="main" *ngIf="user">
        <form #form="ngForm">
            <div class="form">
                <div class="form-row">
                    <label>Ime:</label>
                    <input
                        #firstNameInput="ngModel"
                        ngModel
                        type="text"
                        name="firstName"
                        required
                        class="input"
                        [placeholder]="user.firstName"
                    >
                </div>

                <div class="form-row">
                    <label>Prezime:</label>
                    <input
                        #lastNameInput="ngModel"
                        ngModel
                        type="text"
                        name="lastName"
                        required
                        class="input"
                        [placeholder]="user.lastName"
                    >
                </div>

                <div class="form-row">
                    <label>Email:</label>
                    <input
                        #emailInput="ngModel"
                        ngModel
                        type="email"
                        name="email"
                        required
                        disabled="true"
                        class="input"
                        [placeholder]="user.email"
                    >
                </div>

                <div class="form-row birthDateLabel">
                    <label>Datum rodjenja:</label>
                </div>
                <mat-form-field class="dateField">
                    <mat-label *ngIf="this.user.additionalInfos.birthDate">{{setInputDateValue()}}</mat-label>
                    <mat-label *ngIf="!this.user.additionalInfos.birthDate"></mat-label>
                    <input #birthDateInput="ngModel" ngModel name="birthDate" matInput [matDatepicker]="picker">
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>

                <div class="form-row">
                    <label>Opis:</label>
                </div>
                <textarea
                    *ngIf="user.additionalInfos"
                    #descriptionInput="ngModel"
                    ngModel
                    name="description"
                    required
                    class="description"
                    [placeholder]="user.additionalInfos.description"
                ></textarea>
                <textarea
                    *ngIf="!user.additionalInfos"
                    #descriptionInput="ngModel"
                    ngModel
                    name="description"
                    required
                    class="description"
                ></textarea>

                <div class="form-row">
                    <label>Brojevi telefona:</label>
                    <div class="phoneNumbers">
                        <ul *ngFor="let phone of user.phones">
                            <li>
                                {{phone.number}}
                                <button (click)="onRemove(phone.id)" class="removePhoneBtn">x</button>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="addPhoneNumber">
                    <input
                        #phoneNumberInput="ngModel"
                        ngModel
                        type="text"
                        name="phoneNumber"
                        placeholder="Dodaj novi broj telefona"
                        class="input"
                    >
                    <button type="button" class="btnSecondary" (click)="onAdd()">Dodaj</button>
                </div>

                <div class="submitBtns">
                    <button type="button" class="btnSecondary" (click)="onCancel()">Otkaži</button>
                    <button type="button" class="btnPrimary" (click)="onUpdate()">Izmeni</button>
                </div>
            </div>
        </form>
    </div>
</div>
