.menu {
    display: flex;
    justify-content: space-between;
}

.title {
    margin-left: 10px;
}

.menuBtns {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.signOutBtn{
    cursor: pointer;
    height: fit-content;
    width: fit-content;
}

.backBtn {
    margin-right: 10px;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
}

.form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #c77100a4;
    border: 2px solid #613700a4;
    padding-left: 10px;
    padding-right: 10px;
}

.dugme {
    cursor: pointer;
    max-width: fit-content;
    align-self: center;
    margin-bottom: 10px;
}

.dugme:disabled {
    cursor: default;
}

.form-row {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.input {
    margin-left: 10px;
}

.input-error {
    margin-left: 10px;
    color: rgb(158, 0, 0);
}

.birthDateLabel {
    margin-bottom: 5%;
}

.description {
    width: 230px;
    height: 50px;
    resize: none;
}

.phoneNumbers {
    display: flex;
    flex-direction: column;
}

.addPhoneNumber {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.removePhoneBtn {
    cursor: pointer;
    background-color: red;
    margin-left: 5px;
}

.removePhoneBtn:hover {
    background-color: rgb(192, 0, 0);
}

.submitBtns {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 10px;
}